<select name="text[timezone]">
  <option value="Pacific/Midway">Pacific/Midway</option>
    <option value="US/Hawaii">US/Hawaii</option>
    <option value="US/Alaska">US/Alaska</option>
    <option value="US/Pacific" selected>US/Pacific</option>
    <option value="America/Tijuana">America/Tijuana</option>
    <option value="US/Arizona">US/Arizona</option>
    <option value="America/Chihuahua">America/Chihuahua</option>
    <option value="US/Mountain">US/Mountain</option>
    <option value="America/Guatemala">America/Guatemala</option>
    <option value="US/Central">US/Central</option>
    <option value="America/Mexico_City">America/Mexico_City</option>
    <option value="Canada/Saskatchewan">Canada/Saskatchewan</option>
    <option value="America/Bogota">America/Bogota</option>
    <option value="US/Eastern">US/Eastern</option>
    <option value="US/East-Indiana">East-Indiana</option>
    <option value="Canada/Eastern">Canada/Eastern</option>
    <option value="America/Caracas">America/Caracas</option>
    <option value="America/Manaus">America/Manaus</option>
    <option value="America/Santiago">America/Santiago</option>
    <option value="Canada/Newfoundland">Canada/Newfoundland</option>
    <option value="Brazil/East">Brazil/East</option>
    <option value="America/Buenos_Aires">America/Buenos_Aires</option>
    <option value="America/Godthab">America/Godthab</option>
    <option value="America/Montevideo">America/Montevideo</option>
    <option value="Atlantic/South_Georgia">Atlantic/South_Georgia</option>
    <option value="Atlantic/Azores">Atlantic/Azores</option>
    <option value="Atlantic/Cape_Verde">Atlantic/Cape_Verde</option>
    <option value="Africa/Casablanca">Africa/Casablanca</option>
    <option value="Europe/London">Europe/London</option>
    <option value="Europe/Berlin">Europe/Berlin</option>
    <option value="Europe/Belgrade">Europe/Belgrade</option>
    <option value="Europe/Brussels">Europe/Brussels</option>
    <option value="Europe/Warsaw">Europe/Warsaw</option>
    <option value="Africa/Algiers">Africa/Algiers</option>
    <option value="Asia/Amman">Asia/Amman</option>
    <option value="Europe/Athens">Europe/Athens</option>
    <option value="Asia/Beirut">Asia/Beirut</option>
    <option value="Africa/Cairo">Africa/Cairo</option>
    <option value="Africa/Harare">Africa/Harare</option>
    <option value="Europe/Helsinki">Europe/Helsinki</option>
    <option value="Asia/Jerusalem">Asia/Jerusalem</option>
    <option value="Europe/Minsk">Europe/Minsk</option>
    <option value="Africa/Windhoek">Africa/Windhoek</option>
    <option value="Asia/Baghdad">Asia/Baghdad</option>
    <option value="Asia/Kuwait">Asia/Kuwait</option>
    <option value="Europe/Moscow">Europe/Moscow</option>
    <option value="Africa/Nairobi">Africa/Nairobi</option>
    <option value="Asia/Tbilisi">Asia/Tbilisi</option>
    <option value="Asia/Tehran">Asia/Tehran</option>
    <option value="Asia/Muscat">Asia/Muscat</option>
    <option value="Asia/Baku">Asia/Baku</option>
    <option value="Asia/Yerevan">Asia/Yerevan</option>
    <option value="Asia/Kabul">Asia/Kabul</option>
    <option value="Asia/Yekaterinburg">Asia/Yekaterinburg</option>
    <option value="Asia/Karachi">Asia/Karachi</option>
    <option value="Asia/Calcutta">Asia/Calcutta</option>
    <option value="Asia/Colombo">Asia/Colombo</option>
    <option value="Asia/Katmandu">Asia/Katmandu</option>
    <option value="Asia/Novosibirsk">Asia/Novosibirsk</option>
    <option value="Asia/Dhaka">Asia/Dhaka</option>
    <option value="Asia/Rangoon">Asia/Rangoon</option>
    <option value="Asia/Bangkok">Asia/Bangkok</option>
    <option value="Asia/Krasnoyarsk">Asia/Krasnoyarsk</option>
    <option value="Asia/Hong_Kong">Asia/Hong_Kong</option>
    <option value="Asia/Irkutsk">Asia/Irkutsk</option>
    <option value="Asia/Kuala_Lumpur">Asia/Kuala_Lumpur</option>
    <option value="Australia/Perth">Australia/Perth</option>
    <option value="Asia/Taipei">Asia/Taipei</option>
    <option value="Asia/Tokyo">Asia/Tokyo</option>
    <option value="Asia/Seoul">Asia/Seoul</option>
    <option value="Asia/Yakutsk">Asia/Yakutsk</option>
    <option value="Australia/Adelaide">Australia/Adelaide</option>
    <option value="Australia/Darwin">Australia/Darwin</option>
    <option value="Australia/Brisbane">Australia/Brisbane</option>
    <option value="Australia/Sydney">Australia/Sydney</option>
    <option value="Pacific/Guam">Pacific/Guam</option>
    <option value="Australia/Hobart">Australia/Hobart</option>
    <option value="Asia/Vladivostok">Asia/Vladivostok</option>
    <option value="Asia/Magadan">Asia/Magadan</option>
    <option value="Pacific/Auckland">Pacific/Auckland</option>
    <option value="Pacific/Fiji">Pacific/Fiji</option>
    <option value="Pacific/Tongatapu">Pacific/Tongatapu</option>
</select> 